# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output files from the build
go-vcd2svg

# Vendor directory (if used)
/vendor/

# Dependency directories.
/Godeps/

# VSCode settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Go workspace file
go.work
go.work.sum
